<div class="col-xxl-12">
    <div class="row">
        <div class="col-xl-2">
            <div class="card card-animate">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-primary text-primary rounded-2 fs-2">
                                <i data-feather="arrow-up" class="text-primary"></i>
                            </span>
                        </div>
                        <div class="flex-grow-1 overflow-hidden ms-3">
                            <p class="text-uppercase fw-medium text-muted text-truncate mb-3">
                                IN</p>
                            <div class="d-flex align-items-center mb-3">
                                <h4 class="fs-4 flex-grow-1 mb-0">
                                    <span class="counter-value text-success">{{ ff_data.in }}</span>
                                </h4>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end card body -->
            </div>
        </div>
        <div class="col-xl-2">
            <div class="card card-animate">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-primary text-primary rounded-2 fs-2">
                                <i data-feather="arrow-down" class="text-primary"></i>
                            </span>
                        </div>
                        <div class="flex-grow-1 overflow-hidden ms-3">
                            <p class="text-uppercase fw-medium text-muted text-truncate mb-3">
                                OUT</p>
                            <div class="d-flex align-items-center mb-3">
                                <h4 class="fs-4 flex-grow-1 mb-0">
                                    <span class="counter-value text-success">{{ ff_data.out }}</span>
                                </h4>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end card body -->
            </div>
        </div>
    </div>
</div>