.negative_feedback_container{
    display:none;
}

.card-pointer{
    cursor: pointer;
}

#slider {
width: 100%;
height: 100vh;
}

#slider img {
    object-fit: cover;
  }

.main-body{
    display: none;
}